
<form
        data-fu-endpoint="{{ opts.bucket_url }}"
        data-fu-signature-endpoint=""
        data-fu-success-endpoint=""

        {% if opts.validation %}
            data-fu-validation="{{ validation_json|escapejs }}"
        {% endif %}

        data-fu-options="{{ options_json|escapejs }}"

        enctype="multipart/form-data"
        method="post"
        class="django-s3uploader-fineuploader">

    <div class="fallback">
        <input name="file" type="file" />
    </div>
</form>


