{% comment %}
NOTE: This is compiled and rendered as a django template during the template
compilation stage.  The $csrf_token$ and $variables$ are substituted during
the actual rendering since the context is needed to resolve those.
{% endcomment %}

<form
        data-fu-endpoint="{{ opts.bucket_url }}"
        data-fu-aws-public-access-key="{{ access_key_id }}"
        data-fu-signature-endpoint="{% url "s3uploader_signature_endpoint" %}"
        data-fu-success-endpoint="{% url "s3uploader_upload_success_endpoint" %}"
        data-fu-create-key="{% url "s3uploader_create_key" %}"
        data-fu-blankpage="{% url "s3uploader_blankpage" %}"

        {% if config_name %}
            data-fu-config-name='{{ config_name }}'
            data-fu-config-name-http-header='{{ config_name_http_header }}'
        {% endif %}

        {% comment %}
        Not sure the purpose I had for these params
        {% if opts.params %}
            data-fu-params='{{ params_json }}'
        {% endif %}
        {% endcomment %}

        {% if opts.validation %}
            data-fu-validation='{{ validation_json }}'
        {% endif %}

        {% if opts.paste %}
            data-fu-paste="True"
        {% endif %}

        data-fu-options='{{ options_json }}'

        data-fu-csrf="$csrf_token$"
        data-fu-variables="$variables$"

        enctype="multipart/form-data"
        method="post"
        class="django-s3uploader">

    <div class="fallback">
        <input name="file" type="file" />
    </div>
</form>

{% if template_name %}
    {% with "s3uploader/fineuploader/"|add:template_name|add:".html" as path %}
        <div id="qq-template" style="display: none !important">
            {% include path %}
        </div>
    {% endwith %}
{% endif %}

