{% load i18n %}

<div class="qq-uploader-selector">
    <div class="qq-upload-drop-area-selector alert alert-info" qq-hide-dropzone>
        <span>{% trans "Drop files here to upload" %}</span>
    </div>

    <div class="qq-upload-button-selector">
        <div class="btn btn-lg btn-default">{% trans "Upload a file" %}</div>
    </div>

    <span class="qq-drop-processing-selector qq-drop-processing">
        <span>{% trans "Processing dropped files..." %}</span>
        <span class="qq-drop-processing-spinner-selector"><i class="fa-spin fa-refresh"></i><i class="icon-spin icon-refresh"></i></span>
    </span>

    <ul class="qq-upload-list-selector qq-upload-list">
        <li class="file-container">
            <div id="totalProgress" class="qq-progress-bar-container-selector progress progress-striped active">
                <div class="qq-progress-bar-selector bar progress-bar" role="progressbar"></div>
            </div>

            <span class="qq-upload-spinner-selector">
                <i class="fa-spin fa-refresh"></i><i class="icon-spin icon-refresh"></i>
            </span>

            <span class="qq-edit-filename-icon-selector qq-edit-filename-icon"></span>
            <span class="qq-upload-file-selector qq-upload-file"></span>
            <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
            <span class="qq-upload-size-selector qq-upload-size"></span>
            <a class="qq-upload-cancel-selector btn btn-default" href="#">{% trans "Cancel" %}</a>
            <a class="qq-upload-retry-selector btn btn-default" href="#">{% trans "Retry" %}</a>
            <a class="qq-upload-delete-selector btn btn-default" href="#">{% trans "Delete" %}</a>
            <span class="qq-upload-status-text-selector qq-upload-status-text"></span>
        </li>
    </ul>
</div>

